@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-one: #111111;
    --color-zero: #000000;
    --color-pink: #FBDFDB;
    --color-seven: #777777;
    --color-gray: #EEEEEE;
    --color-nine: #999999;
    --color-four: #444444;
    --color-f: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 38px 230px 36px 230px;
}

header a {
    color: var(--color-one);
    font-size: 16px;
    text-decoration: none;
    padding-right: 30px;
}

#intro {
    background-color: var(--color-pink);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 230px 0 230px;
}

.text-intro {
    text-align: left;
    margin: 117px 60px;
}

.text-intro h1 {
    color: var(--color-one);
    font-size: 32px;
    margin-bottom: 10px;
    max-width: 305px;
    max-height: 38px;
}

.text-intro p {
    color: var(--color-zero);
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    max-width: 316px;
    max-height: 84px;
}

.image-intro {
    position: relative;
}

.image-intro img {
    width: 216px;
    height: 300px;
    position: absolute;
    right: 100px;
    bottom: 0;
    
}

.intro-cards {
    margin: 50px 230px 20px 230px;
}

.intro-cards p {
    font-size: 24px;
    color: var(--color-zero);
    font-weight: bold;
}

#recipe-cards {
    margin: 0 230px 40px 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    width: 300px;   
}

.image-content img {
    width: 300px;
    height: 140px;
    border-radius: 15px;     
}

.image-content img:hover {
    cursor: pointer;
}

.info-content {
    margin-top: 20px;
}

.info-content h1 {
    font-weight: normal;
    font-size: 18px;
    color: var(--color-one);
    margin-bottom: 5px;
    line-height: 21px;
}

.info-content p {
    font-size: 14px;
    color: var(--color-seven);
    margin-bottom: 10px;
}

.footer {
    background-color: var(--color-gray);
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer p {
    padding: 23px;
    font-size: 14px;
    color: var(--color-nine);
}

#all-about {
    margin: 50px 230px;
    text-align: left;
}

.intro-about {
    margin-bottom: 20px;
}

.intro-about p {
    color: var(--color-one);
    font-weight: bold;
    font-size: 24px;
}

.about-foodfy p {
    color: var(--color-four);
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 28px;
}

.intro-started {
    margin-bottom: 20px;
}

.intro-started p {
    color: var(--color-one);
    font-weight: bold;
    font-size: 20px;
}

.started-foodfy p {
    color: var(--color-four);
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 28px;
}

.modal-overlay {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.modal {
    background: var(--color-f);
    border-radius: 16px;
    width: 660px;
    height: 413px;
    opacity: 100%;
    margin: 25vh auto;
    position: relative;
}

.image-modal iframe {
    position: absolute;
    height: 200px;
    width: 600px;    
    top: 30px;
    right: 30px;
    left: 30px;
    bottom: 183px;
    border-radius: 15px;
}

.info-modal {
    position: absolute;
    top: 250px;
    right: 164px;
    bottom: 109px;
    left: 164px;
    text-align: center;    
}

.info-modal h1 {
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 24px;
    color: var(--color-one);
}

.info-modal h2 {
    font-weight: normal;
    font-size: 18px;
    color: var(--color-seven);    
}

.close-modal {
    position: absolute;
    top: 364px; 
    right: 281px;
    bottom: 30px; 
    left: 281px;
}

.close-modal a{
    font-size: 16px;
    color: var(--color-nine);
}

.close-modal a:hover {
    cursor: pointer;
}